@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1140px;
}


body {
  background-color: #001F3F;
  box-sizing: border-box;
}

.c-container {
  max-width: min(90%, var(--max-width));
  margin-inline: auto;
}

.balance-25 {
  max-inline-size: 20ch;
  text-wrap: balance;
}

.balance-30 {
  max-inline-size: 60ch;
  /* text-wrap: balance; */
}